<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATK</title>
    
    <link rel="stylesheet" href="/css/main.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
</head>
<body>
    <h1 class="mirage">ATK</h1>
    <p>РП-сервер в Discord с концепцией песочницы.</p>
    
    <a href="/">Обратно на Главную страницу<br></a>
    <a style="text-shadow: -2px -2px 1.5px #00e1ffa5, 2px 2px 1.5px #0378ffa5" href="https://discord.gg/EfUHDkeSH9">Ссылка на сервер<br></a>


    <p>Скоро здесь будет поиск по базе данных <m>(или взятых, я не знаю ┑(￣Д ￣)┍)</m></p>


</body>
</html>