<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATK</title>
    
    <link rel="stylesheet" href="/css/main.css">
    
</head>
<body>
    <h1 class="mirage">ATK</h1>
    <p>РП-сервер в Discord с концепцией песочницы.</p>
    
    <a href="/">Обратно на Главную страницу<br></a>
    <a href="https://discord.gg/EfUHDkeSH9">Ссылка на сервер<br></a>
</body>
</html>