<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATK | База данных</title>
    
    <link rel="stylesheet" href="/css/main.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js" integrity="sha256-huW7yWl7tNfP7lGk46XE+Sp0nCotjzYodhVKlwaNeco=" crossorigin="anonymous"></script><script>SmoothScroll({animationTime : 800,stepSize : 75,accelerationDelta : 30,accelerationMax : 2,keyboardSupport : true,arrowScroll : 50,pulseAlgorithm : true,pulseScale : 4,pulseNormalize : 1,touchpadSupport : true,})</script>
    <script src="/js/main.js"></script>

    <script>
        // Обработчик события при отправке формы
        $(document).ready(function() {
          $('form').submit(function(e) {
            e.preventDefault(); // Предотвращаем обычное поведение формы
    
            // Получаем текст из поля ввода
            const inputText = $('#inputText').val();
    
            // Отправляем данные на бэкенд
            $.post('/findCharacter', { inputText }, function(data) {
              // Обновляем div контейнер с результатом
              $('#result').text(data.result);
            });
          });
        });
      </script>
  <script>
    function openTab(evt, tabName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the link that opened the tab
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
}
  </script>
</head>
<body>

  <div id="page" style="display: none;">
    <h1 class="mirage">ATK | База данных</h1>
    <p>Поиск по базе данных</p>
    
    <a href="/atk">Обратно на страницу АТК<br></a>
    <a href="/">Обратно на Главную страницу<br></a>
    


    <p>Поиск по Базе Данных <m>в процессе разработки</m></p>
      <div class="tabs">
        <div class="tab">
          <button class="tablinks" onclick="openTab(event, 'Check')">Просмотр</button>
          <button class="tablinks" onclick="openTab(event, 'Search')"><img src="/assets/working.png" class="emoji">Поиск</button>
          <button class="tablinks" onclick="openTab(event, 'Register')">Регистрация</button>
        </div>
        
        <div id="Check" class="tabcontent">
          <form>
            <input class="search" type="text" id="inputText" placeholder="Введите ID">
            <button type="submit">Поиск</button>
          </form>
        <div id="result" class="databaseSearchResult"></div>
        </div>
        
        <div id="Search" class="tabcontent">
          
        </div>
        
        <div id="Register" class="tabcontent">
          <a href="/atk/register">Конструктор анкет</a>
          <p>Для завершения регистрации, отправьте скачанный файл в Discord и используйте команду приложения "Распарсить анкету персонажа" в боте Какой-то бот</p>
          

        </div>

        
        
    </div>
  </div>

</body>
</html>