<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glitched Dev Team | Главная</title>
    
    <link rel="stylesheet" href="/css/main.css">


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    
</head>
<body>
    <script src="libs/jquery-3.7.1.min.js"></script>

    
    <a href="/">На главную<br></a>


    
     
    
    

    
    
</body>
</html>