<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тестовый стенд</title>
    
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/deco.css">


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js" integrity="sha256-huW7yWl7tNfP7lGk46XE+Sp0nCotjzYodhVKlwaNeco=" crossorigin="anonymous"></script><script>SmoothScroll({animationTime : 800,stepSize : 75,accelerationDelta : 30,accelerationMax : 2,keyboardSupport : true,arrowScroll : 50,pulseAlgorithm : true,pulseScale : 4,pulseNormalize : 1,touchpadSupport : true,})</script>
    
</head>
<body>
    <script src="libs/jquery-3.7.1.min.js"></script>

    
    <a href="/">На главную<br></a>
    <h1><m>Страница для тестов.</m></h1>
    <h2><m>Ниже находится много текстов-заглушек. Эта страница предназначена ТОЛЬКО для тестирования новых функций!!!</m></h2>
    <p style="margin-top: 100px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, minima velit dolores placeat laborum eius magnam odio debitis itaque, libero impedit, quaerat neque enim totam optio excepturi sint distinctio error.</p>
    <p style="margin-top: 100px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, minima velit dolores placeat laborum eius magnam odio debitis itaque, libero impedit, quaerat neque enim totam optio excepturi sint distinctio error.</p>
    <p style="margin-top: 100px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, minima velit dolores placeat laborum eius magnam odio debitis itaque, libero impedit, quaerat neque enim totam optio excepturi sint distinctio error.</p>
    <p style="margin-top: 100px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, minima velit dolores placeat laborum eius magnam odio debitis itaque, libero impedit, quaerat neque enim totam optio excepturi sint distinctio error.</p>
    <p style="margin-top: 100px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, minima velit dolores placeat laborum eius magnam odio debitis itaque, libero impedit, quaerat neque enim totam optio excepturi sint distinctio error.</p>
    <p style="margin-top: 100px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, minima velit dolores placeat laborum eius magnam odio debitis itaque, libero impedit, quaerat neque enim totam optio excepturi sint distinctio error.</p>
    <p style="margin-top: 100px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, minima velit dolores placeat laborum eius magnam odio debitis itaque, libero impedit, quaerat neque enim totam optio excepturi sint distinctio error.</p>
    <p style="margin-top: 100px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, minima velit dolores placeat laborum eius magnam odio debitis itaque, libero impedit, quaerat neque enim totam optio excepturi sint distinctio error.</p>
    <p style="margin-top: 100px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, minima velit dolores placeat laborum eius magnam odio debitis itaque, libero impedit, quaerat neque enim totam optio excepturi sint distinctio error.</p>
    <p style="margin-top: 100px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, minima velit dolores placeat laborum eius magnam odio debitis itaque, libero impedit, quaerat neque enim totam optio excepturi sint distinctio error.</p>
    <p style="margin-top: 100px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, minima velit dolores placeat laborum eius magnam odio debitis itaque, libero impedit, quaerat neque enim totam optio excepturi sint distinctio error.</p>
    <p style="margin-top: 100px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, minima velit dolores placeat laborum eius magnam odio debitis itaque, libero impedit, quaerat neque enim totam optio excepturi sint distinctio error.</p>
    <p style="margin-top: 100px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, minima velit dolores placeat laborum eius magnam odio debitis itaque, libero impedit, quaerat neque enim totam optio excepturi sint distinctio error.</p>
    <p style="margin-top: 100px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, minima velit dolores placeat laborum eius magnam odio debitis itaque, libero impedit, quaerat neque enim totam optio excepturi sint distinctio error.</p>
    <p style="margin-top: 100px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, minima velit dolores placeat laborum eius magnam odio debitis itaque, libero impedit, quaerat neque enim totam optio excepturi sint distinctio error.</p>
    <p style="margin-top: 100px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, minima velit dolores placeat laborum eius magnam odio debitis itaque, libero impedit, quaerat neque enim totam optio excepturi sint distinctio error.</p>
    <p style="margin-top: 100px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, minima velit dolores placeat laborum eius magnam odio debitis itaque, libero impedit, quaerat neque enim totam optio excepturi sint distinctio error.</p>
    <p style="margin-top: 100px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, minima velit dolores placeat laborum eius magnam odio debitis itaque, libero impedit, quaerat neque enim totam optio excepturi sint distinctio error.</p>
    <p style="margin-top: 100px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, minima velit dolores placeat laborum eius magnam odio debitis itaque, libero impedit, quaerat neque enim totam optio excepturi sint distinctio error.</p>
    <p style="margin-top: 100px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, minima velit dolores placeat laborum eius magnam odio debitis itaque, libero impedit, quaerat neque enim totam optio excepturi sint distinctio error.</p>
    <p style="margin-top: 100px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, minima velit dolores placeat laborum eius magnam odio debitis itaque, libero impedit, quaerat neque enim totam optio excepturi sint distinctio error.</p>
    <p style="margin-top: 100px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, minima velit dolores placeat laborum eius magnam odio debitis itaque, libero impedit, quaerat neque enim totam optio excepturi sint distinctio error.</p>
    <p style="margin-top: 100px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, minima velit dolores placeat laborum eius magnam odio debitis itaque, libero impedit, quaerat neque enim totam optio excepturi sint distinctio error.</p>
    <p style="margin-top: 100px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, minima velit dolores placeat laborum eius magnam odio debitis itaque, libero impedit, quaerat neque enim totam optio excepturi sint distinctio error.</p>
    <p style="margin-top: 100px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, minima velit dolores placeat laborum eius magnam odio debitis itaque, libero impedit, quaerat neque enim totam optio excepturi sint distinctio error.</p>
    <p style="margin-top: 100px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, minima velit dolores placeat laborum eius magnam odio debitis itaque, libero impedit, quaerat neque enim totam optio excepturi sint distinctio error.</p>
    <p style="margin-top: 100px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, minima velit dolores placeat laborum eius magnam odio debitis itaque, libero impedit, quaerat neque enim totam optio excepturi sint distinctio error.</p>
    <p style="margin-top: 100px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, minima velit dolores placeat laborum eius magnam odio debitis itaque, libero impedit, quaerat neque enim totam optio excepturi sint distinctio error.</p>
    <p style="margin-top: 100px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, minima velit dolores placeat laborum eius magnam odio debitis itaque, libero impedit, quaerat neque enim totam optio excepturi sint distinctio error.</p>
    <p style="margin-top: 100px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, minima velit dolores placeat laborum eius magnam odio debitis itaque, libero impedit, quaerat neque enim totam optio excepturi sint distinctio error.</p>

    

    
    
     
    
    

    <!-- <iframe style="margin-top: 64px;" src="https://discord.com/widget?id=1076117733428711434&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe> -->
    
</body>
</html>