<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glitched Dev Team | Главная</title>
    
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/deco.css">


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/parralax.js"></script>

    
</head>
<body>
    <script src="libs/jquery-3.7.1.min.js"></script>

    
    <a href="/">На главную<br></a>

    <p style="margin-top: 100px;">A</p>
    <p style="margin-top: 100px;">A</p>
    <p style="margin-top: 100px;">A</p>
    <p style="margin-top: 100px;">A</p>
    <p style="margin-top: 100px;">A</p>
    <p style="margin-top: 100px;">A</p>
    <p style="margin-top: 100px;">A</p>
    <p style="margin-top: 100px;">A</p>
    <p style="margin-top: 100px;">A</p>
    <p style="margin-top: 100px;">A</p>
    <p style="margin-top: 100px;">A</p>
    <p style="margin-top: 100px;">A</p>
    <p style="margin-top: 100px;">A</p>
    <p style="margin-top: 100px;">A</p>

    <p style="margin-top: 100px;">A</p>
    <p style="margin-top: 100px;">A</p>
    <p style="margin-top: 100px;">A</p>
    <p style="margin-top: 100px;">A</p>
    <p style="margin-top: 100px;">A</p>
    <p style="margin-top: 100px;">A</p>
    <p style="margin-top: 100px;">A</p>
    <p style="margin-top: 100px;">A</p>
    <p style="margin-top: 100px;">A</p>
    
    
    
     
    
    

    <!-- <iframe style="margin-top: 64px;" src="https://discord.com/widget?id=1076117733428711434&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe> -->
    
</body>
</html>