<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сотрудники студии</title>
    
    <link rel="stylesheet" href="/css/main.css">
    
</head>
<body>
    <h1 class="mirage">GDT | Сотрудники</h1>
    <p><m>Страница в разРАБотке</m></p>
    <a href="/">Обратно на Главную страницу</a>
    
    <div class="container">
        <div class="background"></div>
        <div class="content">
        <img src="/assets/wat.gif" alt="Описание картинки">
        <h1>Заголовок</h1>
        <p>Текст 1</p>
        <p>Текст 2</p>
        <p>Текст 3</p>
        </div>
    </div>
</body>
</html>