<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сотрудники студии</title>
    
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/employee.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js" integrity="sha256-huW7yWl7tNfP7lGk46XE+Sp0nCotjzYodhVKlwaNeco=" crossorigin="anonymous"></script><script>SmoothScroll({animationTime : 800,stepSize : 75,accelerationDelta : 30,accelerationMax : 2,keyboardSupport : true,arrowScroll : 50,pulseAlgorithm : true,pulseScale : 4,pulseNormalize : 1,touchpadSupport : true,})</script>
    
</head>
<body>
    <h1 class="mirage">GDT | Сотрудники</h1>
    <p><m>Страница в разРАБотке</m></p>
    <a href="/">Обратно на Главную страницу</a>
    
    <!-- <div class="container">
        <div class="background"></div>
        <div class="content">
        <img src="/assets/wat.gif" alt="Описание картинки">
        <h1>Заголовок</h1>
        <p>Текст 1</p>
        <p>Текст 2</p>
        <p>Текст 3</p>
        </div>
    </div> -->

    <!-- <div class="emp" id="test">
        <div class="img"><img src="/assets/wat.gif" alt="Аватар"></div>
        
        <div class="texts">
            <h1>Сотрудник</h1>
            <p>Инфа о сотруднике</p>
            <h2>Контакты</h2>
            <p>Контакты тут</p>
            <h2>Проекты</h2>
            <p>Тут проекты сотрудника</p>
        </div>

    </div> -->
<!-- В Сотрудник надо должность и ник написать!!! -->
    <div class="emp" id="minemaster">
        <div class="img"><img src="https://images-ext-2.discordapp.net/external/LeCEQjKHxTTcVUgz8wYc2NIX8yUM35PJrSM4tVmz_9E/%3Fsize%3D512/https/cdn.discordapp.com/avatars/609348530498437140/d0b2093dca0a5f43a76a0293afe23fcc.png" alt="Аватар"></div>
        
        <div class="texts">
            <h1>Minemaster, Тимлид, Основатель</h1>
            <p> </p>
            <h2>Контакты</h2>
            <p> </p>
            <h2>Проекты</h2>
            <p>
                <a href="/">этот сайт.</a>
                <a href="https://github.com/Minemaster656/RandomThingsBot">Какой-то бот.</a> Добавить можно с нашего сервера Discord.
            </p>
        </div>

    </div>
    
    <div class="emp" id="pavelg">
        <div class="img"><img src="https://media.discordapp.net/attachments/1049721344985661491/1180517904337342514/10993c319a374bf2654a6c7b0b6ad08b.png" alt="Аватар"></div>
        
        <div class="texts">
            <h1>PavelG, Тимлид</h1>
            <p> </p>
            <h2>Контакты</h2>
            <p> </p>
            <h2>Проекты</h2>
            <p>
                <a href="https://github.com/Pavel-Gornov/Discord-TestBot">Тестовый Бот.</a> Добавить можно с нашего Discord-сервера.
            </p>
        </div>

    </div>

    <div class="emp" id="googer">
        <div class="img"><img src="https://images-ext-2.discordapp.net/external/2dDcgBJ3v1-DoAFdrkXtWOe_68q5TgufzsL1cWSXcHQ/%3Fsize%3D512/https/cdn.discordapp.com/avatars/891289716501119016/58c83e7fdce0ef096543c1959b6a35e4.png" alt="Аватар"></div>
        
        <div class="texts">
            <h1>Googer (AKA Def-try), техадмин, программист </h1>
            <p> </p>
            <h2>Контакты</h2>
            <p> </p>
            <h2>Проекты</h2>
            <p>ATK GPT (В РАЗРАБОТКЕ)
                Testt бот в Discord (В РАЗРАБОТКЕ)
            </p>
        </div>

    </div>

    <div class="emp" id="michaclownai">
        <div class="img"><img src="https://images-ext-2.discordapp.net/external/UStgP3mo12s2NY7W3yb6N6McZUnGs6s91V_t2i_5KuI/%3Fsize%3D4096/https/cdn.discordapp.com/avatars/629999906429337600/711b4baf27a5b3bd8110fd9da6dd55d0.png" alt="Аватар"></div>
        
        <div class="texts">
            <h1>MichaAI, техадмин, кловн, 3D-модельщик</h1>
            <p>Клоун</p>
            <h2>Контакты</h2>
            <p> </p>
            <h2>Проекты</h2>
            <p>
                <a href="https://github.com/MichaAI/ItsMichaAIBot">MichaAI's Bot.</a> Добавить можно с нашего Discord-сервера
            </p>
        </div>

    </div>

    <div class="emp" id="codeislife">
        <div class="img"><img src="https://images-ext-2.discordapp.net/external/lQ351vQEpBitgBQuZ_LH-yQZG8KmFWSQPJU6NFnGO6Q/%3Fsize%3D4096/https/cdn.discordapp.com/avatars/625073398653124619/6ca17e56370abc6595a357b25ce4ac52.png" alt="Аватар"></div>
        
        <div class="texts">
            <h1>Codeislife, программист</h1>
            <p> </p>
            <h2>Контакты</h2>
            <p> </p>
            <h2>Проекты</h2>
            <p>Переносит сишарп на джаву, не мешайте ему.</p>
        </div>

    </div>

    <div class="emp" id="sina">
        <div class="img"><img src="https://images-ext-2.discordapp.net/external/kguGQJ-uZOO1uePa92UGNV566MbQxCV8seCuVNlCa_Q/%3Fsize%3D512/https/cdn.discordapp.com/avatars/1162693296787816538/c49b417e0f91d4f40f6a4c347b9f0efc.png" alt="Аватар"></div>
        
        <div class="texts">
            <h1>Sina, художница</h1>
            <p> </p>
            <h2>Контакты</h2>
            <p> </p>
            <h2>Проекты</h2>
            <p> </p>
        </div>

    </div>

    <div class="emp" id="poyo">
        <div class="img"><img src="https://images-ext-2.discordapp.net/external/RIWC6XXcE4o6BRlcWKXz2J4ybbMQGrZGUVjubd9oHyI/%3Fsize%3D4096/https/cdn.discordapp.com/avatars/715898596746330174/889f4336365480ed39396672e4988abc.png" alt="Аватар"></div>
        
        <div class="texts">
            <h1>MrPoyo, Основатель</h1>
            <p>Второй основатель, временно где-то.</p>
            <h2>Контакты</h2>
            <p> </p>
            <h2>Проекты</h2>
            <p><m>¯\(°_o)/¯</m>
            Множество прототипов
            </p>
        </div>

    </div>

    <div class="emp" id="lievsey">
        <div class="img"><img src="https://images-ext-1.discordapp.net/external/R2OW1YiVwRCMxfIA6gMm9ArJKAT04cwZZHiuyG08yOg/%3Fsize%3D512/https/cdn.discordapp.com/avatars/1013607768978104370/3e6703f4a8a5ca414dd6b812d02bd751.png" alt="Аватар"></div>
        
        <div class="texts">
            <h1>Dr. Lievsey, гейм-дизайнер</h1>
            <p>Генератор идей.</p>
            <h2>Контакты</h2>
            <p> </p>
            <h2>Проекты</h2>
            <p> </p>
        </div>

    </div>

    <div class="emp" id="mirilat">
        <div class="img"><img src="https://images-ext-1.discordapp.net/external/A2b4Hxv_vcD5FAWKR0rtugFxl-b6Ac7PsxEnB27bnXY/%3Fsize%3D512/https/cdn.discordapp.com/avatars/1064870586985234434/4f1aef29e7012bf966df1bf54477a234.png" alt="Аватар"></div>
        
        <div class="texts">
            <h1>Mirilat, звуковик</h1>
            <p> </p>
            <h2>Контакты</h2>
            <p> </p>
            <h2>Проекты</h2>
            <p> </p>
        </div>

    </div>

    <div class="emp" id="p4elik">
        <div class="img"><img src="assets/black128.png" alt="Аватар"></div>
        <!-- https://images-ext-1.discordapp.net/external/r500OnbOndefG2u-_gwLKTCkmuspjfui7002QX1W8zQ/%3Fsize%3D512/https/cdn.discordapp.com/avatars/957883664526606356/4763709f7daac5e211be524c02b17fe6.png -->
        
        <div class="texts">
            <h1>Кислотник, уборщик несуществующего пространства</h1>
            <p>Токсик, клоун, лентяй. Был снят с админки за спам в канале новостей. Попросил удалить аватарку "из-за нарушения его АП".</p>
            <h2>Контакты</h2>
            <p>@p4elik_ в Discord</p>
            <h2>Проекты</h2>
            <p>Нету</p>
        </div>

    </div>

    <div class="emp" id="chrmh">
        <div class="img"><img src="https://images-ext-2.discordapp.net/external/1PbgyHAROzKI-PnwjkHjtOcdWE58mTauQzWhSeftfI0/%3Fsize%3D512/https/cdn.discordapp.com/avatars/699758463504482324/fdb0033f2e8bc7ca6c6ac384c33d0a54.png" alt="Аватар"></div>
        
        <div class="texts">
            <h1>Черёмуха, не работает</h1>
            <p>Случайно попал в этот список из-за доступа к рабочей зоне. Не сотрудник.</p>
            <h2>Контакты</h2>
            <p> </p>
            <h2>Проекты</h2>
            <p> </p>
        </div>

    </div>
</body>
</html>