<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404: Not found</title>
    <style>
        ::selection {
        background-color: #f51b34ae; /* замените #ffff00 на желаемый цвет в формате HEX или названии цвета */
        color: #fff5e5; /* замените #000000 на желаемый цвет текста в формате HEX или названии цвета */
}
        body{
            color: #f4ffff;
            text-shadow: -2px -2px 1px #ff0000a5, 2px 2px 1px #ff00d5a5;
            filter: none;
            background-color: #40353b;
            font-family:Arial, Helvetica, sans-serif;
            padding-top: 64px;
            text-align: center;
            
        }
        
        a {
        text-decoration: none;
        color: #f54f2a;

        }
        
    </style>
    
</head>
<body>
    <h1 style="size: 256pc;">404</h1>
    <p>Страница не найдена!<a href="/"> Вернуться на главную</a></p>
    
    <img src="https://http.cat/404.jpg">
</body>
</html>