<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glitched Dev Team | Главная</title>
    
    <link rel="stylesheet" href="/css/main.css">

    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js" integrity="sha256-huW7yWl7tNfP7lGk46XE+Sp0nCotjzYodhVKlwaNeco=" crossorigin="anonymous"></script><script>SmoothScroll({animationTime : 800,stepSize : 75,accelerationDelta : 30,accelerationMax : 2,keyboardSupport : true,arrowScroll : 50,pulseAlgorithm : true,pulseScale : 4,pulseNormalize : 1,touchpadSupport : true,})</script>
    <script src="js/main.js"></script>
    
</head>
<body>
    
    <script src="libs/jquery-3.7.1.min.js"></script>
    <div id="page" style="display: none;">
    
    <h1 class="mirage">Glitched Dev Team</h1>
    <p>Мы - небольшая студия, занимающаяся разработкой игр, приложений, ботов Discord и прочих вещей.</p>
    
    
    <div class ='field'> 
        
            
            <a href="/about">Про нас<br></a>
        <a style="text-shadow: -2px -2px 1.5px #00e1ffa5, 2px 2px 1.5px #0378ffa5"
        href="/atk">РП-проект ATK<br></a>
        <a hreh="/EULA">EULA</a>
        <p></p>
        <a href="https://discord.gg/6KRwb7j5TP"><m>Наш Discord-сервер</m></p>
        <iframe src="https://discord.com/widget?id=1019180616731873290&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>

    </div>
    
    
     
    
    

    <!-- <iframe style="margin-top: 64px;" src="https://discord.com/widget?id=1076117733428711434&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe> -->
    </div>
</body>
</html>