<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DTI website</title>
    
    <link rel="stylesheet" href="/css/main.css">


    <meta property="og:title" content="Заголовок страницы">
    <meta property="og:description" content="Описание страницы">
    <meta property="og:image" content="http://glitchdev.ru/assets/wat.gif">
    <meta property="og:url" content="http://glitchdev.ru">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Название вашего сайта">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ваш_твиттер_аккаунт">

    
</head>
<body>
    <h1 class="mirage">DTI</h1>
    <p>Мы - небольшая студия, занимающаяся разработкой игр, приложений, ботов Discord и прочих вещей.</p>
    <a href="/about">Про нас</a>
    
</body>
</html>