<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Наши проекты</title>
    
    <link rel="stylesheet" href="/css/main.css">
    
</head>
<body>
    <h1 class="mirage">Проекты нашей студии</h1>
    <p><m>Страница в разРАБотке.</m></p>
    <a href="/">Обратно на Главную страницу</a>
</body>
</html>