<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About DTI</title>
    
    <link rel="stylesheet" href="/css/main.css">
    
</head>
<body>
    <h1>DTI</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos adipisci molestiae sequi, qui eius molestias libero sint inventore ab dolorum magni architecto autem fuga possimus accusamus. Eius, molestiae vitae? Debitis!</p>
    <a href="/">Обратно на Главную страницу</a>
</body>
</html>