body{
    color: #f4ffff;
    
    filter: none;
    background-color: #353b40;
    /* background: linear-gradient(180deg, #353b40, #202930); */
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 64px;
    text-align: center;
    /* cursor: url("assets/cursor.png"), auto; */

    /* background: rgb(62,50,61);
    background: linear-gradient(332deg, rgba(62,50,61,1) 0%, rgba(67,91,111,1) 100%); */

    /* background: rgb(62,53,64);
    background: linear-gradient(332deg, rgba(62,53,64,1) 0%, rgba(73,88,97,1) 100%); */

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    
    
}
.mirage{
    text-shadow: 
    -2px -2px 1px #00e1ffa5, 2px 2px 1px #ff007ba5;
    box-shadow: 1px 1px 2px #ff007ba5, -1px -1px 2px #00e1ffa5;
}
m{
  text-shadow: 
    -2px -2px 1px #00e1ffa5, 2px 2px 1px #ff007ba5
    ;
}
a{
    color:#c9e5ff;
    text-shadow: -1px -1px 1px #00e1ffa5, 1px 1px 1px #ff007ba5; /* , 1px -1px 0.5px #00ff2aa5, -1px 1px 0.5px #ffd500a5 */
    text-decoration: underline;
    font-weight: bolder;
    
    
}
a:hover{
  color:#c9e5ff;
  text-shadow: -1px -1px 1px #00e1ffa5, 1px 1px 1px #ff007ba5
  -1px 1px 2px #00e1ffa5, 1px -1px 2px #ff007ba5
  ; /* , 1px -1px 0.5px #00ff2aa5, -1px 1px 0.5px #ffd500a5 */
  text-decoration:underline;
  font-weight: bolder;
  

  
}
::selection {
    background-color: #00e1ffa5; /* замените #ffff00 на желаемый цвет в формате HEX или названии цвета */
    color: #ffd6f1; /* замените #000000 на желаемый цвет текста в формате HEX или названии цвета */
    text-shadow: -1px -1px 2px #00e1ffa5, 1px 1px 2px #ff007ba5;
}


.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px; /* Задайте высоту ваших элементов */
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255, 255, 255, 0.16), rgba(255,255,255,0));
    filter: blur(20px);
    z-index: -1;
  }
  
  .content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center; 
    /* space between */
    padding: 20px;
    /* flex-direction: column; */
    
  }
  
  .content img {
    width: 200px; /* Задайте ширину вашей картинке */
    /* flex-direction:row; */
    float: left;
    margin-right: 20px;
  }
  
  .content h1 {
    font-size: 24px; /* Задайте размер вашего заголовка */
    flex-direction: column;
  }
  
  .content p {
    font-size: 16px; /* Задайте размер ваших параграфов */
    flex-direction: column;
  }


.databaseSearchResult{
  margin-top: 16px;
  border-radius: 10px;
  background-color: #00000028;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 16px;
}
.userProfile{
  margin-top: 16px;
  border-radius: 10px;
  background-color: #00000028;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 16px;
}
div {
  white-space: pre-line;
}
.field{
  border-radius: 10px;
  background-color: #00000028;
  margin-left: 16%;
  margin-right: 16%;
  
}
html{
  height: 100%;
  overflow:visible;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  
}
body{
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #3e4854;
  border-radius: 10px;
  box-shadow: 5px 0px 5px -5px rgba(255, 255, 255, 0.26) inset;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(135deg, rgb(65, 147, 225), rgb(199, 89, 162));
}


.progress-container {
  width: 100%;
  height: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin-top: 10px;
  display:flex;
  
}
.emoji{
  display: inline-block;
  width: 1em;
  height: 1em;
  background-size: contain;
}


.progress-bar {
  height: 100%;
  background-color: #4caf50;
  border-radius: 10px;
}

.progress-text {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 5px;
}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #cccccc27;
  background-color: #4b565e;
  width: 140px;
  height: 300px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #deebff91;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color:#b8cae591;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #cccccc00;
  width: 70%;
  border-left: none;
  height: 300px;
}
.tabs{
  margin-left: 10px;margin-right: 10px;
  display: flex;
  background: #a6b3bd15;
  border-radius: 3px;
}
.error{
  color: red;
  text-decoration: underline;
  font-weight: bolder;
}
/* input{
  
} */
.input-resizable{
  /* background-color: transparent; 
	
	line-height: 28px;
	color: #747373;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	font-size: 16px;
	
	outline: none;
	border: 0;
	width: 150px;
	margin-right: 28px;
	margin-left: 10px;
	transition: 400ms;
	
	&:focus {
		width: 400px;
	}
	
	&-wrap {
		padding: 5px;
		display: inline-block;
		border-radius: 20px;
		background-color: #ebebeb;
	} */
  /* margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px; */
  width: calc(100% - 2*10px);
  height: calc(100% - 2*10px);
  margin: npx;
  resize:both;
}
textarea{
  background: #00000028;
  border: #00e1ffa5;
  color: #f4ffff;
  font-family: sans-serif;
  font-size: 18;
}

