<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DTI website</title>
    <style>
        body{
            color: #f4ffff;
            text-shadow: -1px -1px 1px #00e1ffa5, 1px 1px 1px #ff007ba5;
            filter: none;
            background-color: #353b40;
            font-family: Arial, Helvetica, sans-serif;
            padding-top: 64px;
            text-align: center;
            
        }
        
    </style>
    
</head>
<body>
    <h1>DTI</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos adipisci molestiae sequi, qui eius molestias libero sint inventore ab dolorum magni architecto autem fuga possimus accusamus. Eius, molestiae vitae? Debitis!</p>
    
</body>
</html>